.card {
    width: 100%;
    height: 49.5%;
    background-color: #101A2A;
    border-radius: 10px;
    border: 1px solid #5A5A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card>div {
    width: 90%;
    height: 90%;
}

.sellEnded {
    height: 25px;
    width: 100px;
    background-color: #213451;
    border-radius: 25px;
    margin-right: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.sellEnded span {
    font-size: 12px;
    font-weight: normal;
    color: #BCBCBC;
    position: relative;
    padding-left: 10px;
}

.sellEnded span::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #BCBCBC;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.timing {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timing>div {
    width: 60px;
    height: 60px;
    border: 1px solid #00982C;
    /* border: 1px solid; */

    /* border-image: linear-gradient(to right, #6FFF98, #00982C) 1; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timing>div>span {
    font-size: 12px;
    color: white;
}

.timing>div>span:first-of-type {
    font-weight: 600;
}

.progress {
    width: 100%;
    padding: 0.4rem 0;
}

.progressBarNormal {
    width: 100%;
    height: 10px;
    border: 1px solid #29243F;
    border-radius: 25px;
    position: relative;
}

.progressBarYellow {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(to right, #FF8A00, #D0A713);
}

.progressBarNormal:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    color: white;
    font-size: 12px;
    position: absolute;
    background-color: #443D64;
    border-radius: 3px;
    padding: 3px 5px;
    top: -300%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #443D64 transparent transparent transparent;
}

.dataText {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

.dataText>span {
    font-weight: 700;
    color: white;
    font-size: 14px;

}

.toClaim {
    margin-top: 15px;
}


.toClaim h4 {
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin: 10px 0;

}

.toClaim>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 15px;
    background-color: #364255;
}

.toClaim>div>span {
    font-size: 14px;
    color: white;
}

.toClaim>div>span:first-of-type {
    margin-left: 1rem;
}

.toClaim>div>span:last-of-type {
    margin-right: 1rem;
}

.claimButton {
    width: 100%;
    border-radius: 15px;
    background-color: #0088CB;
    color: white;
    height: 60px;
    margin-top: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.claimButton img {
    margin-right: 0.5rem;
    width: 25px;
    height: auto;

}

.iconButtons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    height: 60px;
}

.iconButtons button{
    width: 50px;
    height: 55px;
    background-color: #364255;
    border: none;
    border-radius: 5px;
}

.iconButtons button:last-of-type{
    margin-left: 10px;
}

@media (max-width: 991px) {
    .card {
        height: 500px;
    }
}