*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: #12141D;
}

main{
    position: relative;

}

.top_right_gradient{
    height: 90vh;
    position: absolute;
    width: 5%;
    background-image: linear-gradient(#085364, #1845A300);
    filter: blur(30px);
    top: 5em;
    right: 0;
    border-top-left-radius: 100px; 
    border-bottom-left-radius: 100px; 

}

.top_left_gradient {
    height: 50vh;
    position: absolute;
    width: 5%;
    background-image: linear-gradient(#085364, #1845A300);
    filter: blur(30px);
    top: 0;
    left: 0;
    border-top-right-radius: 100px; 
    border-bottom-right-radius: 100px; 
}

.container {
    width: 90%;
    margin: 0 5%;
}

@media (max-width: 991px) {
    .container {
        width: 92%;
        margin: 0 4%;
        height: fit-content;
        padding-bottom: 25px;
    }


}