@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-custom;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-jolly-lodger {
    font-family: 'Jolly Lodger', cursive;
  }
  .underline-orange {
    position: relative;
    display: inline-block;
}
.underline-orange::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    top: 110%;
    background: linear-gradient(90deg, #FF8A00 0%, #D0A713 100%);
    visibility: visible;
    transform: scaleX(1);
}
.gradient-text {
  background: linear-gradient(90deg, #FF8A00 0%, #D0A713 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
}

}
